body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.font-16 {
    font-size: 16px;
}

.font-18 {
    font-size: 18px;
}

.font-20 {
    font-size: 20px;
}

.font-22 {
    font-size: 22px;
}

.font-24 {
    font-size: 24px;
}

.font-26 {
    font-size: 26px;
}

ul {
    margin: 0;
    padding: 0;
}

ul li {
    list-style-type: none;
}

.house-container {
    border: 1px solid #bbb;
    margin: 20px 0;
    overflow: hidden;
}

.room-container {
    border: 1px solid #bbb;
    margin: 10px 0;
    padding: 0 10px 10px;
}

.last-update-label {
    text-align: center;
    color: #808080;
    font-size: 14px;
}